.view-sales-order-page{
    display: flex;
    min-height: 90vh;
}

.sales-orders-data{
    min-height: 90vh;
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;
}

.sales-orders-data h1{
    text-align: center;
}

.sales-orders-header{
    display: flex;
    border-bottom: 1px solid grey;
    padding: 5px 0;
}

.sales-orders-card{
    display: flex;
    border-bottom: 1px solid grey;
    padding: 5px 0;
}

.table-heading{
    font-weight: 700;
}

.first-column{
    width: 15%;
    text-align: center;
    margin: 0;
}

.second-column{
    width: 15%;
    text-align: center;
    margin: 0;
}

.third-column{
    width: 15%;
    text-align: center;
    margin: 0;
}

.fourth-column{
    width: 25%;
    text-align: center;
    margin: 0;
}

.fifth-column{
    width: 15%;
    text-align: center;
    margin: 0;
}

.sixth-column{
    width: 15%;
    text-align: center;
    margin: 0;
}